{% extends "base.html" %}

{% block content %}
    <h2>Comments</h2>
    <form method="post">

    <div class="content-post">
        <div class="post100">
            <div class="header">
                <div class="subject">{{p.subject}}</div>
                <div class="date">{{p.last_modified.strftime("%b %d, %Y")}}</div>
                <hr />
            </div>
            <div class="content">{{p.content}}</div>
            <div class="content">{{p.author}}</div>
            <hr />
        </div>
    </div>

    <div class="category_header">New Comment</div>
    <div>
        <textarea name='comment'>{{comment}}</textarea>
    </div>

    <div class = "centered error">
        {{msg}}
    </div>


    <div class="group_of_thirds">
        <div class="third">
        <label>
            {% if like=="on" %}
            Like <input type="checkbox" name = "like" checked >
            {% else %}
            Like <input type="checkbox" name = "like" unchecked >
            {% endif %}
        </label>
         </div>

    <br />
        <div class="third">
    <input class ="cta-button" type = "submit" name = "button" value = "Submit">
        </div>
        <div class="third">
    <input class ="cta-button" type = "submit" name = "button" value = "Return to Blogs">
        </div>
    </div>

    {% for c in comments %}
    <div class="content-post">
        <div class="post">
            <div class="header">
                <div class="subject">{{c.commentor}}</div>
                <div class="date">{{c.last_modified.strftime("%b %d, %Y")}}</div>
                <hr />
            </div>
            <div class="content">{{c.comment}}</div>
            <div class="content">{{c.author}}</div>
        </div>


        <div class="right_buttons buttons">
            <a href="/blog_comment_edit/?postid={{(p.key().id())}}&amp;commentid={{(c.key().id())}}">Edit</a>
            <a href="/comment_delete/?commentid={{(c.key().id())}}">Delete</a>
        </div>

    </div>
    {% endfor %}
    </form>
{% endblock %}