{% extends "base.html" %}

{% block content %}

	<form method="post">
		<div class="error">
			{{msg}}
		</div>
		<div class="wrapper">
			<div class="category_header">
				Username
			</div>
			<div class="category_content">
				<input type="text" name="username" value="{{username}}">
			</div>

			<div class="error">
				{{error_username}}
			</div>
		</div>

		<div class="wrapper">
			<div class="category_header">
				Password
			</div>

			<div class="category_content">
				<input type="password" name="password" value="">
			</div>

			<div class="error">
				{{error_password}}
			</div>
		</div>

		<div class="wrapper">
			<div class="category_header">
				Verify Password
			</div>
			<div class="category_content">
				<input type="password" name="verify" value ="">
			</div>
			<div class="error">
				{{error_verify}}
			</div>
		</div>

		<div class="wrapper">
			<div class="category_header">
				Email (optional)
			</div>
			<div class="category_content">
				<input type="text" name="email" value="{{email}}">
			</div>
			<div class="error">
				{{error_email}}
			</div>
		</div>
		<div class="wrapper">
			<div class="category_header">
			</div>
			<div class="category_content">
				<input type="submit" />
			</div>
		</div>
	</form>
	<h2> Already signed up? Just <a href="/login">login</a>

{% endblock %}
